<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Extrator de Domínios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Extrator de Domínios</h1>
        <div id="drop-area">
            <p>Arraste seus arquivos aqui ou clique para selecionar</p>
            <input type="file" id="fileElem" name="files" multiple hidden>
        </div>

        <div class="progress-container">
            <div id="progress-bar"></div>
            <span id="status-text">Aguardando envio...</span>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>